
.login-page{

    background-image:  url("/assets/cerhis.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: red;
    height: 100%;

    .ant-layout-content{
        
        display: flex;
        
        .ant-card{
            
            margin: auto;

            .ant-spin-nested-loading{
                overflow: hidden;
                
                .ant-spin-container{
                    overflow: hidden;
                }
            }
            
            .spin-login-form{
                overflow: hidden;

                .ant-spin-nested-loading{
                    overflow: hidden;

                    .ant-spin-container{
                        overflow: hidden;
                    }

                }
            }

            .login-form{
                display: flex;
                flex-direction: column;
                height: fit-content;
            }
            
        }
    }

}