.medical-center-data{

    & > .basic-info {

        display: flex;
        flex-direction: row;
        
        & > .ant-card {
            margin-right: 1rem;
        }

    }

    & > .charts{

        margin-top : 1rem;

        & > .charts-by-type{

            margin-bottom: 1rem;

        }
    }

    .anticon-warning{
        color: red;
        font-size: 24;
    }
}