.alert {
    border: 1px solid #ffa39e;
    background-color: #fff1f0;

    & > .ant-card-head{
        background-color: #fff1f0;
    }

    .anticon-close-circle{
        color: #f5222d;
        font-size: 18;
    }

}

.anticon-check-circle{
    color : #00b300;
    font-size: 18;
}

.google-maps{
    height: 300;
    width: 100%;
    position: relative;
}