
.user-menu{
    
    & > .logo {
        
        // background: rgba(255,255,255,.2);
        // margin: 16px;
        height: 5%;
        width: auto;
    }

    & > .user-profile, .user-permissions{
        text-align: center;
        color: white;
    }
    
}

.ant-layout-sider-trigger{
    & > .anticon{
        padding: 1rem;
    }

}
